<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ERPIK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ERPIK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:black" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Employees", "Index", "Employee", null, new { style = "color:black", @class = "action-link-a" })</li>
                    <li>@Html.ActionLink("Inventory", "Index", "Inventory", null, new { style = "color:black", @class = "action-link-a" })</li>
                    <li>@Html.ActionLink("Contractors", "Index", "Contractor", null, new { style = "color:black", @class = "action-link-a" })</li>


                    <li>@Html.ActionLink("Article", "Index", "Article", null, new { style = "color:black", @class = "action-link-a" })</li>
                    <li>
                        <div class="dropdown" style="padding-top: 10px">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Warehouse
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("External Receipts", "ExternalReceiptIndex", "Warehouse")<br />
                                @Html.ActionLink("External Releases", "ExternalReleaseIndex", "Warehouse")

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown" style="padding-top: 10px; padding-left: 5px">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Configuration
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @Html.ActionLink("Operators", "Index", "Login") <br />

                            </div>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Logout", "Logout", "Login", null, new { style = "color:black", @class = "action-link-a" })</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ERPIK</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
