@model IEnumerable<ERPProject.Models.Warehouse.ExternalReleaseIndexModelView>

@{
    /**/

    ViewBag.Title = "ExternalReleases";
}

<h2>External Releases</h2>
@Html.Action("GetEmployeeExternalReleases", "Warehouse")
<p>
  
    <a href="@Url.Action("CreateExternalRelease", "Warehouse")" class="btn btn-dark">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>
            <strong>Create</strong>
        </span>
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
           Order code
        </th>
        <th>
          Contractor
        </th>
        <th>
          Employee
        </th>
        <th>
           Creation date
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                <a href="@Url.Action("ExternalReleaseDetails", "Warehouse",new { id =item.Id})" class="btn btn-dark">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    <span>
                    
                    </span>
                </a>
                <a href="@Url.Action("GenerateReleasePrint", "Warehouse",new { id =item.Id})" class="btn btn-dark">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    <span>
                 
                    </span>
                </a>
                <a href="@Url.Action("Delete", "Warehouse",new { id =item.Id})" class="btn btn-dark">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                    <span>
                       
                    </span>
                </a>
             
            </td>
        </tr>
    }

</table>
