@model IEnumerable<ERPProject.Models.Warehouse.ExternalReceipt.ExternalReceiptIndexModelView>

@{
    /**/

    ViewBag.Title = "ExternalReceiptIndex";
}

<h2>ExternalReceipts</h2>

<p>
    @Html.ActionLink("Create New", "CreateExternalReceipt")
</p>
<table class="table" id="externalReceiptsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>

                @Html.ActionLink("Details", "ExternalReceiptDetails", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteExternalReceipt", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
@section scripts
{
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#externalReceiptsTable').DataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ records",
                    "zeroRecords": "Nothing",
                    "info": "Page _PAGE_ of _PAGES_",
                    "infoEmpty": "No records",
                    "infoFiltered": "(filter)",
                    "sSearch": "Search:",
                    "oPaginate": {
                        "sFirst": "First",
                        "sLast": "Last",
                        "sNext": "Next",
                        "sPrevious": "Previous"
                    },
                }
            });
        });


    </script>
}