@model ERPProject.Models.Warehouse.ExternalReceipt.ExternalReceiptDetailsModelView

@{
    ViewBag.Title = "ExternalReceiptDetails";
}

<h2>ExternalReceiptDetails</h2>

<div>
    <h4>ExternalReceiptDetailsModelView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContractorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<h4>Articles:</h4>
<table class="table">
    <tr>
        <th>
            Article
        </th>
        <th>
            Amount
        </th>
        <th>
            Price
        </th>


    </tr>

    @foreach (var item in Model.ExternalReceiptRows)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Article.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

        </tr>
    }

</table>
<p>

    @Html.ActionLink("Back to List", "ExternalReceiptIndex")
</p>
